 * {
   padding: 0px;
   margin: 0px;
   font-family: "Inter", sans-serif;

 }



 nav {

   padding-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .container {
   max-width: 1551px;
   margin: auto;
   padding-bottom: 20px;
 }

 .nav-list {
   display: flex;
   list-style: none;
   font-size: 16px;
   font-weight: 400;
   list-style: none;
   gap: 30px;
   cursor: pointer;

 }

 .nav-list a{
    text-decoration: none;
    color: #575757FF;   
}

.nav-list a:hover{
    color: lightblue;
}

 .common-btn {
   background-color: #1D4ED8;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 700;
   color: white;
   padding: 10px 20px;
   cursor: pointer;
   width: 188px;
   height: 48px;
   

 }
 .common-btn:hover{
  cursor: pointer;
  background-color: rgb(95, 95, 216);
 }



 /* NAV BAR SHESH */

 /* HERO BANNER SHURU */

  .hero-banner {

   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 800px;
   width: 100%;

 }

 .hero-container {
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   gap: 10px;
   padding-bottom: 250px;


   color: aliceblue;


 }

 .hero-button {

   margin: 30px auto;
   display: block;
   font-weight: 700px;
   font-size: 24px;
   width: 282px;
   ;
   height: 74px;

 }

 .hero-banner h2 {
   font-size: 80px;
   font-weight: 700;
 }

 .hero-banner p {
   padding-left: 28%;

   font-size: 22px;
   font-weight: 400;
   height: 108px;
   width: 829px;

 }


 /* HERO BANNER SHESH */




/* SPEAKER SHURU */
 .speaker-head {
   padding-top: 80px;
   text-align: center;
   font-size: 56px;
   font-weight: 700;
   padding-bottom: 40px;
 }

 .speaker-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   max-width: 1320px;
   gap: 30px;
   margin: 80px auto;

 }


 .speaker-card {
   background: #ffffffFF;
   border: 1px solid #e5e7ebFF;
   ;
   border-radius: 12px;

   padding-bottom: 20px;
   overflow: hidden;

 }

 .speaker-card img {
   width: 100%;
   height: 350px;

   display: block;


 }

 .speaker-info {
   padding: 20px;
 }

 .speaker-info h5 {
   color: #2563ebFF;
   font-size: 12px;
   font-weight: 600;
   padding-bottom: 8px;
 }

 .speaker-info h2 {
   font-size: 20px;
   color: #0d1b2aFF;
   font-weight: 700;
   padding-bottom: 8px;
 }

 .speaker-info p {
   color: #575757FF;
   font-size: 14px;
   font-weight: 400;

 }
 /* SPEAKER SHESH */